extends layout

block content
  if name
    h1 哈囉#{name}你好嗎?
  else
    form(action='/hello', method='post')
      label 
          i 請輸入名字 : 
          input(type='text', name='username') 
      button(type='submit') 送出
