body {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  text-size-adjust: 100%;
}
/* nav bar */
nav {
  position: sticky;
  display: flex;
  height: 48px;
}

.nav_left {
  padding-left: 2%;
  display: flex;
  flex-grow: 1;
  list-style-type: none;
  margin-right: auto;
}
.nav_right {
  padding-right: 2%;
  display: flex;
  flex-grow: 1;
  list-style-type: none;
  justify-content: end;
}
.nav_li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.item_2 {
  margin-left: 10px;
  margin-right: auto;
}
.googleDev {
  margin: 0%;
  height: 32px;
}
.item_3 {
  margin-left: auto;
}
.item_3,
.item_4 {
  margin-right: 10px;
}

/* header */
header {
  padding-top: 1px;
  padding-bottom: 36px;
  width: 100%;
  background-color: #eca46d;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.header_content {
  display: flex;
  flex-direction: column;
}
.women {
  aspect-ratio: 720 / 416;
  border-radius: 0.6rem;
  height: auto;
  width: 82%;
  margin: 0;
  margin-top: 10%;
  vertical-align: middle;
  align-items: center;
}
.slogan {
  font-size: 32px;
  font-weight: 300;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 3%;
  margin-bottom: 5%;
}

.slogan_content {
  width: auto;
  height: auto;
  text-align: left;
  font-weight: 200;
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 5%;
}
.apply {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  margin: 0;
  padding-left: 6%;
}
.apply > a {
  width: auto;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border-radius: 4px;
  border: thin double black;
  margin-right: auto;
  margin-left: 3%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
}

/* icon */

.dev_tool_secton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 10%;
  padding-left: 10%;
}
.dev_tool_icons {
  padding: 0px;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.dev_tool_icon {
  margin: 30%;
}

.icons {
  /* border: solid 5px red; */
  display: flex;
  flex-wrap: wrap;
  column-gap: 30%;
  row-gap: 10%;
  justify-content: center;
  align-content: stretch;
}
.icon {
  /* border: solid 5px blue; */
  align-content: space-between;
  width: 15%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  flex-grow: 1;
}
.icon > p {
  text-align: center;
}
.icon > img {
  align-self: center;
  width: 64px;
  height: auto;
}
.andriod {
  justify-content: space-around;
}
.view_all_dev {
  font-family: "Poppins", sans-serif;
  background-color: #1a73e8;
  font-size: 12px;
  color: white;
  border-radius: 5%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 7%;
  padding-left: 7%;
  margin-top: 10%;
  margin-bottom: 10%;
}

/* card area */
.grid_img {
  width: 100%;
}
.card_area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_outline {
  margin-top: 15%;
  position: relative;
  border: solid 1px #eeefef;
  border-radius: 20px;
  width: 90%;
}
.event_img {
  top: 15px;
  z-index: 10;
  display: block;
  height: 160px;
  width: 160px;
  position: absolute;
  right: 8px;
  transform: translateY(-50%);
}
.card {
  background-color: white;
  width: 200px;
}
.card_text {
  margin: 3%;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.card_text > h2 {
  margin: 0;
  color: #2177e9;
  font-size: 32px;
  font-weight: 400;
}

.card_btn {
  border: solid 1px #eeefef;
  border-radius: 5px;
  text-align: center;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 2%;
  width: 25%;
}
.card_btn_community {
  border: solid 1px #eeefef;
  border-radius: 5px;
  text-align: center;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 1%;
  padding-bottom: 2%;
  width: 35%;
}

/* intro_card_group */
.intro_card_section {
  background-color: #f0f3f4;
  display: flex;
  flex-direction: column;
  padding-right: 3%;
  padding-left: 3%;
  justify-self: center;
  align-items: stretch;
  padding-bottom: 5%;
}

.intro_card_group {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: stretch;
  align-content: center;
}
.intro_img {
  width: 120px;
  height: auto;
  margin-top: 30%;
  margin-bottom: 30%;
  margin-left: 40%;
  margin-right: 40%;
}
.intro_card {
  margin-top: 3%;
  border: solid 2px #eeefef;
  border-radius: 10px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.intro_title {
  font: 300;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  color: #1a73e8;
}
.intro_text {
  /* border: solid 5px navy; */
  padding: 3%;
}
.developer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.developer_card {
  margin-left: 5%;
  border: solid 1px #eeefef;
  border-radius: 5px;
  width: 70%;
  padding: 10%;
  text-align: center;
}
.developer_card > img {
  width: 50%;
  border-radius: 90%;
}
.developer_name {
  font-size: 36px;
}
.nation,
.expertise,
.exp_content {
  font-size: 28px;
  font-weight: 300;
}

.expertise,
.exp_content {
  margin: 0;
}
.exp_content {
  color: lightgray;
}
.developer_intro_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
}
.developer_intro_container > h2 {
  font-size: 32px;
}
.developer_btn {
  font-family: "Poppins", sans-serif;
  color: #1a73e8;
  border: solid 2px #eeefef;
  border-radius: 5px;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}
.footer > .list {
  width: 90%;
  margin-left: 3%;
  list-style: none;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  /* border: solid 2px red; */
}
.footer {
  /* display: flex; */
  flex-direction: column;
}
.head {
  font-size: 16px;
}
.top {
  border-top: solid 1px #eeefef;
}
