
body{
    padding: 0px;
    margin: 0px;
}
/* nav bar */
nav {
  display: flex;
}
.nav_right {
  padding: 0px;
  display: flex;
  flex-grow: 1;
  list-style-type: none;
  justify-content: end;
}

.item_2 {
  margin-left: 10px;
  margin-right: auto;
}

.nav_left {
  padding: 0px;
  display: flex;
  flex-grow: 1;
  list-style-type: none;
  margin-right: auto;
}
.item_3 {
  margin-left: auto;
}
.item_3,
.item_4 {
  margin-right: 10px;
}

header {
  width: 100%;
  background-color: #eca46d;
  display: flex;
  flex-direction: column;
}

img {
  margin: auto;
  margin-top: 10%;
  margin-bottom: 3%;
  width: 85%;
  align-items: center;
}

/* header */
.slogan {
    font-size: 36px;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 3%;
    margin-bottom: 5%;
}

.slogan_content{
    text-align: left;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 5%;
}
.apply{
    font-family: 'Poppins', sans-serif;
    border-radius: 4px;
    display: block;
    background-color: transparent;
    font-size: 16px;
    border: solid;
    align-self: flex-start;
    margin-left: 10%;
    margin-bottom: 5%;
    padding: 3%;
}
.dev_tool_secton{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dev_tool_icons{
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.dev_tool_icon{
    margin: 30%;
}